// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/*
01. Base, variables
02. Typography
03. Auth views
04. Forms
05. Buttons
06. Table
*/


// 01. Base, variables
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%; // 16px
}

html, body {
	height: 100%;
	width: 100%;
}

// 02. Typography
.pointer {
	cursor: pointer;
}

// 03. Auth views
.auth-background {
	background-color: #1a232f;
	background-image: -moz-radial-gradient(center center,circle cover,#273648,#0d1218 100%);
	background-image: -webkit-radial-gradient(center center,circle cover,#273648,#0d1218 100%);
	background-image: -o-radial-gradient(center center,circle cover,#273648,#0d1218 100%);
	background-image: -ms-radial-gradient(center center,circle cover,#273648,#0d1218 100%);
	background-image: radial-gradient(center center,circle cover,#273648,#0d1218 100%);
}


// 04. Forms
.v-select {
	.vs__dropdown-toggle {
		border-radius: 0;
		padding-top: 4px;
		background-color: white;
		.vs__search {
			&::placeholder {
				color: var(--gray);
			}
		}
	}
}

// 05. Buttons
.btn-icon {
  transition: 0.1s ease-in;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.8;
  }
  &:active {
    transform: scale(1);
  }
}


// 06. Table
.table {
	tbody {
		tr {
			&:hover {
				cursor: pointer;
			}
		}
	}
}


// 07. Tabs
